@import "./bootstrap.min.scss";
@import "./bootstrap-grid.scss";
@import "./font-awesome.scss";
@import "./default-layout.scss";
@import "./loading.scss";
@import "./header.scss";
@import "./home.scss";
@import "./beneficiary.scss";

.alert {
  position: fixed;
  height: auto;
  top: 138px;
  right: 25px;
  z-index: 999;

  .icon {
    display: flex;
    align-items: center;
  }

  .fa {
    margin-right: 15px;
  }

  @media (max-width: 988px) {
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    max-width: 500px;
  }

  @media (max-width: 588px) {
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
  }
}
